header {
    background: #212121;
}

.admin-wrapper {
    display: flex;
    height: calc(100% - 66px);
}

.admin-wrapper .left-sidebar {
    flex: 2;
    height: 100%;
    background: #444141;
}

.admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

.admin-wrapper .left-sidebar ul li a {
    padding: 18px;
    display: block;
    border-bottom: 1px solid #999;
}

.admin-wrapper .left-sidebar ul li a:hover {
    background: #fff;
    color: #004044;
}

.admin-wrapper .admin-content {
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}

.admin-content .page-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}

.edit {
    color: green;
}

.show {
    color: green;
}

.delete {
    color: red;
}

.publish {
    color: blue;
}

.save {
    background-color: green;
}

.edit:hover,
.delete:hover,
.publish:hover {
    text-decoration: underline;
}

form div {
    margin-bottom: 15px;
}

label.error {
    border: 2px solid red;
    border-radius: 4px;
    line-height: 1;
    padding: 2px 0 6px 6px;
    background: #ffe6eb;
}

input.valid {
    border: 2px solid #4CAF50;
    color: green;
}